
$greyish:#555555;
$celestialOrange:#FF6F61;
$common-height:80px;
$placeholder-color: #999;
$frosted-glass: rgba(255, 255, 255, 0.5);
$special:#141C27;
$silver: #C0C0C0;
$jost: 'Jost', sans-serif;
$rubik: 'Rubik', sans-serif;
$ropa: 'Ropa Sans', sans-serif;
$island:'Island Moments', cursive;
$softpink: #FFC0CB;
$darkpink: #FF007F;

*{
    margin: 0;
}
.signup-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  background-image: url("../images/bg2.avif");
  background-size: cover;
  background-repeat: no-repeat;
  .overlay {
    background-color: rgba(5, 5, 5, 0.6);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .success {
    position: fixed;
    width: 500px;
    height: 180px;
    z-index: 45;
    align-items: center;
    justify-content: center;
    margin-top: -370px;
    margin-left: 80px; 
    background-color: rgba(117, 54, 99, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
    transform: translateY(-100%);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    font-family: $jost;
    padding: 20px;
      button{
        padding: 10px 20px;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
        &:hover {
          background-color: $softpink;
        }
      
      }
  }
  
  .success.hide {
    transform: translateY(-100%);
  }
  .right {
    flex: 1; 
    position: relative;
    overflow: hidden;
    z-index: 1; 
  }

  .overlaytwo{
    background-color: rgba(157, 170, 172, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 2;
  }

  .left-container {
    padding: 40px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    width: 350px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #8f37cd;


    .horizontal-nav {
      ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
        font-family: $ropa;
        font-size: 20px;
      }
    
      ul li {
        margin-right: 20px;
        transition: all 0.3s ease;
      }
    
      ul li:last-child {
        margin-right: 0;
      }
    
      ul li a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        position: relative;
        padding-bottom: 5px;
        transition: color 0.3s ease;

        &:hover {
          color: #8f37cd;
        }

        &.active {
          font-weight: bold;
          width: 90px;
          background-color: transparent;
         

          &:after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 3px;
            transition: width 0.3s ease;
            background-color: #8f37cd;
            border-radius: 8px;
          }
        }
      }
    }
    


    .signup-form {
      h2 {
        font-size: 24px;
        margin-top: 15px;
        font-family: $ropa;
        color: #8f37cd;
      }

      .form-group {
        margin-top: 20px;
        label {
          display: block;
          margin-bottom: 5px;
          font-family: $jost;
        }
        input {
          width: 320px;
          padding: 10px;
          border: 1px solid #8f37cd;
          border-radius: 5px;
          font-family: $jost;
          outline: none;

          &:hover {
            border: 1px solid $darkpink;
          }

          &::placeholder {
            color: $placeholder-color;
          }
        
        &.error {
          input {
            border: 1px solid red;
          }
        }
      }
      }

      button {
        padding: 10px 20px;
        background-color: #8f37cd;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 50px;

        &:hover {
          background-color: #0056b3;
        }
      }

    
      .login-link {
        margin-top: 20px;
        font-family: $jost;

        a {
          text-decoration: none;
          color: #007bff;
          font-family: $jost;

          &:hover {
            text-decoration: underline;

          }
        }
      }
    }
  }
}
.welcome-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px; 
  color: white; 
  text-align: center;
  margin-top: 200px;

   h2{
    font-size: 20px;
    font-family: $ropa;
    color: #FF007F;
   }
    p{
      font-family: $jost;
      font-size: 16px;
    }
}